<div class="overlay">
  <div class="overlaybutton">
    <button style="background: orangered" id="category">technical task</button>
    <img src="assets/icons/close.svg" alt="" />
  </div>
  <h1>Business App</h1>
  <span class="overlaydiscription"
    >The complete business App of the company "A" need to be optimized.</span
  >
  <div class="overlaytable">
    <span class="gray-clr">Due date:</span>
    <span>2024-10-01</span>
  </div>
  <div class="overlaytable">
    <span class="gray-clr">Priority:</span>
    <div class="align-item-center">
      <span>medium</span>
      <img id="prio" src="assets/icons/priolow.svg" alt="prio" />
    </div>
  </div>
  <div class="overlayassigned">
    <div class="gray-clr">Assinged to:</div>
    <ul id="assigned" class="btn assigned">
      <li>
        <button id="optBtn" class="btn-name-initials">IS</button>
        <span>Ibrahima Sourabie</span>
      </li>
      <li>
        <button id="optBtn" class="btn-name-initials">IS</button>
        <span>Thomas Diaz</span>
      </li>
    </ul>
  </div>
  <div class="overlayassigned">
    <span class="gray-clr">Subtasks:</span>
    <ul id="subtasks">
      <li class="align-horizontally">
        <img id="checkbox" src="assets/icons/checkButton.svg" alt="" />
        <span>element 1</span>
      </li>
      <li class="align-horizontally">
        <img id="checkbox" src="assets/icons/uncheckBox.svg" alt="" />
        <span>element 2</span>
      </li>
    </ul>
  </div>
  <div class="overlaychange">
    <app-delete-edit-button />
    <!-- <div class="overlaydelete">
      <img src="assets/icons/delete.svg" alt="" />
      <span>Delete</span>
    </div>
    <span>|</span>
    <div class="overlayedit">
      <img src="assets/icons/editContact.svg" alt="" />
      <span>Edit</span>
    </div> -->
  </div>
</div>
