<section>
  <div class="logo-line">
    <img src="assets/icons/logoBlue.svg" alt="logo" />
    <h1>Join</h1>
  </div>
  <h2>{{ resetMessage ? "Password changed" : "Enter new Password" }}</h2>
  <form
    (ngSubmit)="onresetConfirm()"
    *ngIf="!resetMessage"
    #form="ngForm"
    autocomplete="off"
  >
    <div class="input-group">
      <label for="password">Password<span>*</span></label>
      <input
        [(ngModel)]="new_password"
        #passwordInput="ngModel"
        type="password"
        id="password"
        required
        minlength="6"
        name="new_password"
      />
    </div>
    <div class="input-group">
      <label for="confirm_password">Confirm Password<span>*</span></label>
      <input
        [(ngModel)]="confirm_new_password"
        type="password"
        #passwordConfirmInput="ngModel"
        id="confirm_password"
        [class.highlightBorder]="resetError"
        required
        minlength="6"
        name="confirm_new_password"
      />
      <p class="error" [class.errorOpacity]="resetError">
        {{ resetError }}
      </p>
    </div>

    <button
      [class.hover_effect]="passwordInput.valid && passwordConfirmInput.valid"
      [disabled]="!passwordInput.valid || !passwordConfirmInput.valid"
      [style.opacity]="
        !passwordInput.valid || !passwordConfirmInput.valid ? '0.75' : '1'
      "
      type="submit"
      class="btn btn-info"
    >
      Submit
    </button>
  </form>
  <span class="message" *ngIf="resetMessage">{{ resetMessage }}</span>

  <a *ngIf="resetMessage" routerLink="/account/log-in">return to login</a>
</section>
