<div class="left-side-section disp-flex">
  <div class="section-1">
    <img class="logo-summary" src="assets/icons/logo.svg" alt="Logo" />
  </div>
  <div class="section-2"></div>
  <div class="section-3">
    <a
      id="privacy-bg"
      class="gray-text links"
      routerLink="/account/privacy-policy"
      (click)="handleIndex('offline-privacy-policy')"
      [style.backgroundColor]="
        chosenMenu === 'offline-privacy-policy' ? '#091931' : 'unset'
      "
      >Privacy Policy</a
    >
    <a
      routerLink="/account/legal-notice"
      id="legal-notice-bg"
      (click)="handleIndex('offline-legal-notice')"
      [style.backgroundColor]="
        chosenMenu === 'offline-legal-notice' ? '#091931' : 'unset'
      "
      class="gray-text links"
      >Legal Notice</a
    >
  </div>
</div>
