<div class="todosplit">
  <div
    id="todo"
    class="todoscontainer"
    ondragover="allowDrop(event); highlight('todo')"
    ondrop="moveTo('todo')"
    ondragleave="removeHighlight('todo')"
  >
    <div class="todocard" draggable="true">
      <button
        [class]="{ 
        'tech-bg': task.category==='technical task',
        'user_story-bg':task.category==='user story',
        'event-bg':task.category==='team event',
        'others-bg':task.category==='others',
        }"
        class="todocardbutton"
      >
        {{ task.category }}
      </button>
      <b>{{ task.title }}</b>
      <span class="overview">{{ task.description }}</span>
      <div class="subtasks">
        <div class="progress-container">
          <div
            class="progress"
            [style.width]="
              (getCompletedSubtask(task.subtasks).length /
                task.subtasks.length) *
                100 +
              '%'
            "
          ></div>
        </div>
        <div class="subtasks-progress-description">
          <span class="percentage"
            >{{ getCompletedSubtask(task.subtasks).length }}/{{
              task.subtasks.length
            }}</span
          >
          <span class="percentage percentage-label">Subtasks</span>
        </div>
      </div>
      <div class="assignedprio">
        <div class="btn">
          <ng-container *ngFor="let initial of task.assigned_to; let i = index">
            <button
              *ngIf="initial"
              [style.backgroundColor]="initial.color_pattern"
              class="btn-name-initials"
            >
              {{ onNameInitials(initial.name) }}
            </button>
          </ng-container>
        </div>
        <img
          src="assets/icons/{{
            task.priority === 'urgent'
              ? 'priourgent.svg'
              : task.priority === 'low'
              ? 'priolow.svg'
              : 'priomedium.svg'
          }}"
          alt="prio"
        />
      </div>
    </div>
  </div>
</div>
