.todosplit {
  width: 16rem;
  background-color: transparent;
  border: transparent;
}

.todoscontainer {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding-inline: 0.175rem;
  padding-block: 1rem;
}

.overview {
  font-size: 16px;
}
b {
  font-size: 16px;
  font-weight: 700;
  color: #2a3647;
}

.todoscontainer {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.todoscontainer::-webkit-scrollbar {
  opacity: 0;
}
.subtasks-progress-description {
  display: flex;
  gap: 4px;
  align-items: center;
}

.todocard {
  background-color: white;
  gap: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.todocard span:not(.percentage) {
  color: #a8a8a8;
}

.todocardbutton {
  color: white;
  width: 9rem;
  height: 27px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

.progress-container {
  height: 8px;
  width: 8rem;
  border-radius: 0.4rem;
  background: #f4f4f4;
  margin-right: 1rem;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #4589ff;

  transition: width 0.4s ease;
}

.subtasks {
  height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignedprio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignedprio button:not(:first-child):not(:nth-child(6)) {
  margin-left: -20px;
}

.btn-name-initials {
  background: chartreuse;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid white;
  margin-right: 8px;
  color: white;
}

.btn {
  max-height: 240px;
}

@media (width<=800px) {
  .todosplit {
    width: 100%;
    height: fit-content;
    margin-right: 0;
    width: 100%;
  }
  .progress-container {
    width: 22rem;
  }

  .todoscontainer {
    padding-top: 1.25rem;
    min-height: fit-content;
    display: flex;
    gap: 1rem;
  }

  .todocard {
    min-width: 271px;
    max-width: 300px;
  }
}

@media (width<=400px) {
  .todocard {
    max-width: 90vw;
  }
}
@media (width<=325px) {
  .todocard {
    max-width: 300px;
  }
}
