<form
  class="add-contact-data-inputs"
  (ngSubmit)="onCreateContact(this.isAddContact)"
>
  <div class="d-flex add-contact-input-container">
    <input
      type="text"
      minlength="2"
      [(ngModel)]="contactData.name"
      name="name"
      placeholder="Name"
      class="add-contact-input"
      id="name-input"
      required
    />
    <img src="assets/icons/name.svg" alt="telephone-icon" />
  </div>
  <div class="d-flex add-contact-input-container">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="contactData.email"
      name="email"
      class="add-contact-input"
      id="email-input"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      required
    />
    <img src="assets/icons/email.svg" alt="telephone-icon" />
  </div>
  <div class="d-flex add-contact-input-container">
    <input
      type="tel"
      placeholder="Phone"
      [(ngModel)]="contactData.telephone"
      name="telephone"
      class="add-contact-input"
      id="telephone-input"
      required
    />
    <img src="assets/icons/telephone.svg" alt="telephone-icon" />
  </div>
  <app-cancel-create-button class="app-cancel-create-button" />
</form>
