<section class="login-body disp-flex">
  <img class="login-logo" src="assets/icons/logoBlue.svg" alt="Logo" />
  <div class="container-login">
    <form
      class="user-log-data-section-signup disp-flex"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <img
        class="exit-arrow"
        src="assets/icons/arrow-left-line.svg"
        alt="Exit"
        routerLink="/account/log-in"
      />
      <div class="title-join-underline disp-flex">
        <div class="log-title">Sign up</div>
        <div class="btm-bar"></div>
      </div>
      <div class="input-grp-section-signup disp-flex">
        <div class="grp-input-login disp-flex">
          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-mail">
              <input
                id="register-user-name"
                class="input-login input-login-1"
                type="text"
                #name="ngModel"
                [(ngModel)]="registerData.name"
                pattern="^[A-Za-zäöüßÄÖÜ]{1,}(?: [A-Za-zäöüßÄÖÜ]+)*$"
                minlength="2"
                placeholder="Name"
                name="username"
                required
              />
              <button type="button" class="icon-btn-login mail-btn-pointer-pos">
                <img
                  class="mail-icon-login"
                  src="assets/icons/person.svg"
                  alt="Email"
                />
              </button>
            </div>
          </div>
          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-mail">
              <input
                id="register-user-email"
                #email="ngModel"
                [(ngModel)]="registerData.email"
                class="input-login input-login-1"
                [class.highlightBorder]="
                  errorSignUp.error_type &&
                  errorSignUp.error_type[0] === 'email_exist'
                "
                type="email"
                placeholder="Email"
                name="email"
                required
              />
              <button type="button" class="icon-btn-login mail-btn-pointer-pos">
                <img
                  class="mail-icon-login"
                  src="assets/icons/mail.svg"
                  alt="Email"
                />
              </button>
            </div>

            <span
              class="error"
              [class.showError]="
                errorSignUp.error_type &&
                errorSignUp.error_type[0] === 'email_exist'
              "
            >
              This Email already exists. Please chose a different email.
            </span>
          </div>
          <!-- hier -->
          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-pwd">
              <input
                id="pwd"
                class="input-login input-login-2"
                type="{{ pwdType }}"
                (input)="handleVisibility(registerData.password, 'password')"
                #password="ngModel"
                [(ngModel)]="registerData.password"
                placeholder="Password"
                minlength="6"
                name="password"
                required
              />
              <button
                type="button"
                class="icon-btn-login pwd-btn-pos"
                (click)="onShowPwd('password')"
              >
                <img
                  id="pwd-img-signup"
                  src="assets/icons/{{
                    pwdVisibility ? pwdIconPathVisible : 'lock.svg'
                  }}"
                  alt="Password"
                />
              </button>
            </div>
          </div>
          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-pwd">
              <input
                id="confirm-pwd"
                #confirm_password="ngModel"
                class="input-login input-login-2"
                [class.highlightBorder]="
                  errorSignUp.error_type &&
                  errorSignUp.error_type[0] === 'password'
                "
                (input)="
                  handleVisibility(registerData.confirm_password, 'confirm_pwd')
                "
                type="{{ confirmPwdType }}"
                [(ngModel)]="registerData.confirm_password"
                placeholder="Confirm Password"
                minlength="6"
                name="confirm-pwd"
                required
              />
              <button
                type="button"
                class="icon-btn-login pwd-btn-pos"
                (click)="onShowPwd('confirm_pwd')"
              >
                <img
                  id="conf-pwd-img"
                  src="assets/icons/{{
                    confirmPwdVisibility
                      ? confirmPwdIconPathVisible
                      : 'lock.svg'
                  }}"
                  alt="Password"
                />
              </button>
            </div>
            <span
              class="error"
              [class.showError]="
                errorSignUp.error_type &&
                errorSignUp.error_type[0] === 'password'
              "
            >
              Your passwords don't match. Please try again.
            </span>
          </div>
        </div>
        <div class="remember-line rmb-signup disp-flex ft-sz-400">
          <div class="remember-me disp-flex">
            <button type="button" class="toggle-btn">
              <img
                (click)="onTogglePolicy()"
                id="checkbox-sign-up"
                src="assets/icons/{{
                  togglePolicy ? 'checkboxChecked.svg' : 'checkboxUncheck.svg'
                }}"
                alt="Check"
              />
            </button>
            <span class="remember ft-sz-400">I accepted the </span
            ><a class="consent-policy" routerLink="/account/privacy-policy"
              >Privacy Policy</a
            >
          </div>
        </div>
        <div class="btn-line disp-flex">
          <button
            id="sign-up-btn"
            class="blue-btn-signup log-guest-btn"
            [disabled]="
              !togglePolicy ||
              !confirm_password.valid ||
              !password.valid ||
              !email.valid ||
              !name.valid
            "
            [class.hover_effect]="
              togglePolicy &&
              confirm_password.valid &&
              password.valid &&
              email.valid &&
              name.valid
            "
            [style.opacity]="
              !togglePolicy ||
              !confirm_password.valid ||
              !password.valid ||
              !email.valid ||
              !name.valid
                ? '0.75'
                : '1'
            "
          >
            Sign up
          </button>
        </div>
      </div>
    </form>
    <div class="privacy-link-login-signup">
      <a
        class="links-login ft-sz-400"
        routerLink="/account/privacy-policy"
        (click)="handleIndex('offline-privacy-policy')"
        >Privacy Policy</a
      >
      <a
        class="links-login ft-sz-400 legal-notice"
        (click)="handleIndex('offline-legal-notice')"
        routerLink="/account/legal-notice"
        >Legal Notice</a
      >
    </div>
  </div>
</section>
<app-confirmation-dialog
  id="sign-up-success"
  [text]="'You signed up successfully'"
  [icon]="''"
  class="init-slide"
/>
