<div id="submenu-user" class="submenu-user d-none" *ngIf="submenu_state">
  <a class="list-item ft-sz-400" (click)="onToggleProfile()">Account</a>
  <a
    class="list-item ft-sz-400"
    routerLink="/dashboard/legal-notice"
    (click)="onToggleSubMenu()"
    >Legal Notice</a
  >
  <a
    class="list-item ft-sz-400"
    routerLink="/dashboard/privacy-policy"
    (click)="onToggleSubMenu()"
    >Privacy Policy</a
  >
  <a
    class="list-item ft-sz-400"
    routerLink="/account/log-in"
    (click)="onLogout()"
    >Log out</a
  >
</div>
