<div class="left-side-section disp-flex">
  <div class="section-1">
    <img class="logo-summary" src="assets/icons/logo.svg" alt="Logo" />
  </div>
  <ul class="section-2">
    <ng-container *ngFor="let link of links; let i = index">
      <li
        id="first-bg"
        class="sub-menu-container disp-flex"
        routerLink="{{ link.path }}"
        (click)="
          handleIndex(link.url); resetSelectedContact(); initializeState()
        "
        [class.highlightBg]="chosenMenu === link.url"
      >
        <img
          id="summary-img"
          class="icons-left-side-section cursor-ptr"
          src="assets/icons/{{ link.icon }}_{{
            chosenMenu === link.text ? 'white' : 'gray'
          }}.svg"
          alt="{{ link.text }}"
        />
        <p
          id="summary-text"
          class="para-summary gray-text ft-sz-400 cursor-ptr"
        >
          {{ link.text }}
        </p>
      </li>
    </ng-container>
  </ul>
  <div class="section-3">
    <a
      id="privacy-bg"
      class="gray-text links"
      routerLink="/dashboard/privacy-policy"
      (click)="handleIndex('privacy-policy'); resetSelectedContact()"
      [style.backgroundColor]="
        chosenMenu === 'privacy-policy' ? '#091931' : 'unset'
      "
      >Privacy Policy</a
    >
    <a
      routerLink="/dashboard/legal-notice"
      id="legal-notice-bg"
      class="gray-text links"
      (click)="handleIndex('legal-notice'); resetSelectedContact()"
      [style.backgroundColor]="
        chosenMenu === 'legal-notice' ? '#091931' : 'unset'
      "
      >Legal Notice</a
    >
  </div>
</div>
