<section class="login-body disp-flex">
  <img class="login-logo" src="assets/icons/logoBlue.svg" alt="Logo" />
  <div class="container-login">
    <div class="menu-login">
      <div class="icon-links-login">
        <span class="question-user">Not a Join user?</span>
        <button
          (click)="onresetValidation()"
          routerLink="/account/sign-up"
          class="sign-up blue-btn sign-up-btn"
        >
          Sign up
        </button>
      </div>
    </div>
    <form
      class="user-log-data-section disp-flex"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      novalidate
    >
      <div class="title-join-underline disp-flex">
        <div class="log-title">Log in</div>
        <div class="btm-bar"></div>
      </div>
      <div class="input-grp-section disp-flex">
        <div class="grp-input-login disp-flex">
          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-mail">
              <input
                #email="ngModel"
                [(ngModel)]="loginData.email"
                id="email"
                [class.error]="
                  (loginError.error_type &&
                    loginError.error_type[0] === 'no_user_error') ||
                  (loginError.error_type &&
                    loginError.error_type[0] === 'incorrect_email_pwd_error')
                "
                class="input-login input-login-1"
                (focus)="onEmailFocus()"
                (blur)="onEmailBlur()"
                type="email"
                name="email"
                placeholder="Email"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              />
              <button type="button" class="icon-btn-login mail-btn-pointer-pos">
                <img
                  class="mail-icon-login"
                  src="assets/icons/mail.svg"
                  alt="Email"
                />
              </button>
            </div>
            <p
              id="passwordError"
              class="hideError"
              [class.showError]="
                loginError.error_type &&
                loginError.error_type[0] === 'no_user_error'
              "
            >
              {{
                loginError.error_message && loginError.error_message[0] !== null
                  ? loginError.error_message[0]
                  : ""
              }}
            </p>
          </div>

          <div class="inp-ctn">
            <div class="inpt-mail-icon-grp ps-rel-pwd">
              <input
                #password="ngModel"
                [(ngModel)]="loginData.password"
                id="password"
                [class.error]="
                  loginError.error_type &&
                  loginError.error_type[0] === 'incorrect_email_pwd_error'
                "
                class="input-login input-login-2"
                type="{{ pwdType }}"
                placeholder="Password"
                minlength="4"
                name="password"
                (input)="handleVisibility()"
                (focus)="onPasswordFocus()"
                (blur)="onPasswordBlur()"
                required
              />
              <button
                type="button"
                class="icon-btn-login pwd-btn-pos"
                (click)="onShowPwd()"
              >
                <img
                  id="lock-img-field"
                  src="assets/icons/{{
                    pwdVisibility ? pwdIconPathVisible : 'lock.svg'
                  }}"
                  alt="Password"
                />
              </button>
            </div>

            <p
              id="passwordError"
              class="hideError"
              [class.showError]="
                loginError.error_type &&
                loginError.error_type[0] === 'incorrect_email_pwd_error'
              "
            >
              {{
                loginError.error_message && loginError.error_message[0] !== null
                  ? loginError.error_message[0]
                  : ""
              }}
            </p>
          </div>
        </div>
        <div class="remember-line disp-flex ft-sz-400">
          <div class="remember-me disp-flex">
            <div class="session-remember">
              <button
                type="button"
                class="check-remember"
                (click)="handleRememberMe()"
              >
                <img id="checkbox-login" [src]="onRememberMe()" alt="check" />
              </button>
              <span class="remember ft-sz-400">Remember me</span>
            </div>
            <a
              class="forgot-password"
              (click)="onresetValidation()"
              routerLink="/account/reset-password-request"
              >I forgot my password</a
            >
          </div>
        </div>
      </div>

      <div class="btn-line disp-flex">
        <button
          type="submit"
          [class.hover_effect]="email.valid && password.valid"
          [disabled]="!password.valid || !email.valid"
          [style.opacity]="!email.valid || !password.valid ? '0.75' : '1'"
          class="blue-btn log-guest-btn"
        >
          {{ isLoading ? "Loading..." : "Log in" }}
        </button>
        <a (click)="onGuestLogin()" class="white-btn log-guest-btn">
          {{ isLoading ? "Loading..." : "Guest Log in" }}</a
        >
      </div>
    </form>

    <div class="privacy-link-login">
      <a
        class="links-login ft-sz-400"
        routerLink="/account/privacy-policy"
        (click)="handleIndex('offline-privacy-policy'); onresetValidation()"
        >Privacy Policy</a
      >
      <a
        class="links-login ft-sz-400 legal-notice"
        (click)="handleIndex('offline-legal-notice'); onresetValidation()"
        routerLink="/account/legal-notice"
        >Legal Notice</a
      >
    </div>
  </div>
</section>
