<section>
  <div class="logo-line">
    <img src="assets/icons/logoBlue.svg" alt="logo" />
    <h1>Join</h1>
  </div>
  <h2>
    {{ resetMessage ? "Reset Link Sent" : "Need to reset your Password?" }}
  </h2>
  <form
    (ngSubmit)="onSubmit()"
    *ngIf="!resetMessage"
    #form="ngForm"
    autocomplete="off"
  >
    <div class="input-group">
      <label for="email">Email<span>*</span></label>
      <input
        [(ngModel)]="email"
        #emailInput="ngModel"
        [class.highlightBorder]="resetError"
        type="email"
        id="email"
        name="email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <p class="error" [class.errorOpacity]="resetError">
        {{ resetError }}
      </p>
    </div>

    <button
      type="submit"
      class="btn btn-info"
      [class.hover_effect]="emailInput.valid"
      [disabled]="!emailInput.valid"
      [style.opacity]="!emailInput.valid ? '0.75' : '1'"
    >
      Send reset link
    </button>
  </form>
  <span class="message" *ngIf="resetMessage">{{ resetMessage }}</span>
  <a routerLink="/account/log-in">return to login</a>
</section>
