:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 130px;
  height: 130px;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 47px;
  font-weight: 500;
  color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin-inline: 1.5rem;
}

@media screen and (width<1105px) {
  :host {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 35%;
  }
}
