:host {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.right-side-section {
  width: 100%;
}

.right-side-section {
  background-color: rgb(246, 247, 248);
  transition: all 125ms ease-in-out;
}

.overlay {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 999;
}
