button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #d1d1d1;
  cursor: default;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  > img {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
}

@media screen and (width<1280px) {
  button {
    height: 100px;
    width: 100px;
  }
}

@media screen and (width<760px) {
  button {
    height: 85px;
    width: 85px;
    > img {
      width: 50px;
      height: 50px;
    }
  }
}
