<section>
  <app-better-with-team title="contact" />
  <div class="initial-name-container">
    <app-contact-name-initial />
    <div class="name-edit-delete">
      <div id="name" class="name">Anton Mayer</div>
      <app-delete-edit-button />
    </div>
  </div>
  <div class="infos">
    <div class="contact-infos">contact information</div>
    <div class="info-title">
      <label for="email-address">Email</label>
      <div class="email-address" id="email-address">ddddddddd</div>
    </div>
    <div class="info-title">
      <label for="phone-number">Phone</label>
      <div class="phone-number" id="phone-number">4444444444444</div>
    </div>
  </div>
</section>
